<h2 align="center">Login</h2>
<h4 align="center" ><span id="displayLoginError"></span></h4>
<div align="center">
    <form>
        <label for="inpUsername">Username</label><br>
        <input type="text" id="inpUsername" placeholder="Enter Username" required><br>
        <label for="inpPass">Password</label><br>
        <input type="password" name="" id="inpPass" placeholder="Enter Password" required><br>
        <button type="submit" class="btn" id="btnLoginSubmit">Login</button>
    </form>
</div>

<script defer  src="../app/navbar.js"></script>
<script defer src="../app/login.js"></script>