<h2 align="center">Sign Up</h2>

<div class="container" >
    <form>
        <label for="inpUsername">Username : </label><br>
        <input type="text" id="inpUsername" placeholder="Choose Username" required><br>
        <label for="inpEmail">Email Id : </label><br>
        <input type="email" id="inpEmail" placeholder="Enter Email Id" required><br>
        <label for="inpContact">Contact No :</label><br>
        <input type="number" id="inpContact" placeholder="Contact Number" required><br>
        <label for="inpPass">Password : </label><br>
        <input type="password" name="" id="inpPass" placeholder="Choose Password" required><br><br>
        <button type="submit" class="btn" id="btnSignupSubmit">Sign Up</button>
    </form>
</div>


<script defer src="../app/signup.js"></script>
